.ph-main {
    height: 130vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-text-center {
    height: 10%;
    margin-top: 0%;
    display: flex;
    align-items: flex-end;
    width: 50%;
}

.ph-main-text {
    width: 50%;
    word-spacing: 5px;
    line-height: 25px;
    height: 15%;
}

.ph-main-text a {
    color: var(--black);
    text-decoration: none;
    border-bottom: 3px dotted var(--black);
}

.even-space-ph {
    margin-top: 10%;
}


@media (max-width: 768px) {
    .ph-main {
        height: 140vh;
    }

    .ph-text-center {
        margin-top: 10%;
    }

    .ph-main-text {
        width: 90%;
        word-spacing: 2px;
        line-height: 20px;
        height: 10%;
    }

    .ph-text-center {
        width: 90%;
    }

    .even-space-ph {
        margin-top: 100%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .ph-main {
        height: 250vh;
    }
    .even-space-ph {
        margin-top: 20%;
    }
}