.main {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.main:hover{
    transform: translateY(-3%);
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 10px;
}

.left img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.right {
    flex: 2;
    padding: 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right p {
    margin: 0;
    font-size: 1.1rem;
    color: var(--black);
}
